<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shop Online at Velocity</title>
</head>

<body>
    <div class="navbar">
        <a class="heading" href="/main">Velocity</a>
        <div>
            <a class="account" href="">Account</a>
            <a class="account" href="">Cart</a>
        </div>
    </div>
    <div class="menu">
        <div class="links">
            <a href="/mobile/<%= userId %>">Phone</a>
            <a href="/electronics/<%= userId %>">Electronics</a>
            <a href="/menclothing/<%= userId %>">Men Clothings</a>
            <a href="/womenclothing/<%= userId %>">Women Clothings</a>
            <a href="/footwear/<%= userId %>">Footwear</a>
            <a href="/furniture/<%= userId %>">Furniture</a>        
        </div>

        <div class="searchbox">
            <form action="/header">
                <input type="text" placeholder="Search Velocity">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="maincontainer">
        <div class="buyingProduct">
            <div class="imagebox">
                <img src="/images/<%= found.image %>" alt="IMAGE NOT FOUND :(" srcset="">
            </div>
            <div class="descriptionbox">
                <div class="textbox">
                    <p>
                        <%= found.name %>
                    </p>
                    <p>
                        <%= found.description %>
                    </p>
                    <p class="price">
                        <%= found.price %>
                    </p>
                </div>
                <div class="btnbox">
                    <a href="" class="buybtn"> CHECK OUT</a>
                    <a href="" class="buybtn"> ADD TO CART</a>
                </div>
            </div>

        </div>