<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Shop Online at Velocity</title>
    
</head>
<body>
    <div class="navbar">
        <a class="heading" href="/smain">Velocity</a>
        <div>
            <a class="account" href="">Account</a>
            <a class="account" href="">Cart</a>
        </div>
    </div>
    <div class="menu">
        <div class="links">
            <a href="/mobile">Phone</a>
            <a href="/electronics">Electronics</a>
            <a href="/menclothing">Men Clothings</a>
            <a href="/womenclothing">Women Clothings</a>
            <a href="/footwear">Footwear</a>
            <a href="/furniture">Furniture</a>         
        </div>
        
        <div class="searchbox">
            <form action="/header"> 
                <input type="text" placeholder="Search Velocity">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="maincontainer">
        <div class="productcontainer">
            <% products.forEach(function (product) { %>
                    <div class="product">
                        <div class="imagebox">
                            <img src="./images/<%= product.image %>" alt="Image Source not found">
                        </div>
                        <p id="idesc">
                            <%= product.description %>
                        </p>
                        <p class="price">Price: <%= product.price %></p>
                        <p class="price">Quantity: <%= product.quantity %></p>
                        <p class="price">Category: <%= product.category %></p>
                        
                        <!-- Update button with the product ID in the URL -->
                        <a href="/updateproduct/<%= product._id %>" class="cartbtn">Update</a>
                        
                        <!-- Delete button with the product ID in the URL -->
                        <a href="/delete/<%= product._id %>" class="cartbtn">Delete</a>
                    </div>
            <% }) %>
        </div>
        

<%- include('footer') %>