<%- include('header') %>

    <p class="subheading">Women Clothing</p>
    <div class="productcontainer">
        <% products.forEach(function (product) { %>
            <% if (product.category==='womenclothing' ) { %>
                <div class="product">
                    <a href="buynow/<%= product.id %>" class="productlink">
                        <div class="imagebox">
                            <img src="./images/<%= product.image %>" alt="Image Source not found">
                        </div>
                        <p>
                            <%= product.name %>
                        </p>
                        <p class="price" id="price">Rs: <%= product.price %>
                        </p>
                        <a href="" class="cartbtn">ADD TO CART</a>
                        <a href="" class="buybtn"> BUY NOW</a>
                    </a>

                </div>
                <% } %>
                    <% }) %>
    </div>

    <%- include('footer') %>